@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "SF Pro";
    font-weight: 400;
    src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-regular-webfont.woff");
}

body {
    font-family: "SF Pro", sans-serif;
    background-color: black;
    color: white;
    text-align: center;
}